In [1]:
# 라이브러리 불러오기
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# 크롬 브라우저 실행
driver = wb.Chrome()

In [3]:
# 페이지 이동(한솥도시락 페이지)
driver.get('https://www.hsd.co.kr/menu/menu_list')

In [4]:
# 한솥 도시락 페이지 메뉴
menu = driver.find_elements(By.CLASS_NAME,('h.fz_03'))

In [5]:
menu[0].text

'사골 조랭이떡 만둣국'

In [6]:
# 전체 메뉴명 확인
for i in menu :
    print(i.text)

사골 조랭이떡 만둣국
한우 함박스테이크 & 반달 돈까스
한우함박스테이크&토네이도소세지

In [7]:
# 가격데이터 수집
# 순수한 콘텐츠만 추출

In [8]:
price = driver.find_elements(By.CLASS_NAME, ('item-price'))

In [9]:
price[0].text

'5,900원'

In [10]:
for i in price :
    print(i.text)

5,900원
8,900원
8,900원

In [11]:
len(price)

3

- 현재 브라우저를 실행했을 때 브라우저의 크기만큼 (현재 로딩되어 있는 데이터들만 수집을 한다)
- 전체 데이터를 수집하고 싶다면 전체 데이터를 로딩 후에 데이터 수집

In [12]:
# 더보기 버튼 클릭하기
# 드라이버에게 더보기 버튼 위치를 알려줘야한다
# 더보기 버튼 위치 찾아오기
btn = driver.find_element(By.CLASS_NAME, 'c_05')

In [13]:
btn.click()

In [15]:
driver.quit()

In [ ]:
# 반복문을 사용하여 여러번 더보기 버튼 눌러주기
# for i in range(30) : 
#    btn = driver.find_element(By.CLASS_NAME, 'c_05')
#    btn.click()
# 반복을 진행할 때 반드시 더보기 버튼의 위치를 찾아오는 코드까지 반복해줘야한다

### 예외처리
- try, except 문
- try
    - 에러가 나기 전까지 실행할 부분을 try 문에 작성
- except
    - 에러가 났을 경우 실행할 문장을 except 문에 작성

In [ ]:
# try, except 작성하는 이유
# 코드 실행시 에러가 나면 셀 전체가 실행되지 않은 상태로 남겨짐
# 에러가 나더라도 또다른 실행을 해주고 계속해서 코드를 실행
try :
    for i in range(30) :
        btn = driver.find_element(By.CLASS_NAME, 'c_05')
        btn.click()
except : 
    print("클릭을 완료하였습니다!")

클릭을 완료하였습니다!

### 코드 중간에 쉬는 시간을 주는 라이브러리
- time

In [16]:
import time
# 주로 페이지가 새로고침 된 다음에 사용한다
# 페이지가 로딩되는 시간을 부여

In [17]:
try :
    for i in range(30) :
        btn = driver.find_element(By.CLASS_NAME, 'c_05')
        btn.click()
        time.sleep(1) # 1초
        
except : 
    print("클릭을 완료하였습니다!")

클릭을 완료하였습니다!

### 코드 하나의 셀에 합쳐주기

In [ ]:
# 라이브러리 불러오기
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd

#크롬 브라우저 실행
driver = wb.Chrome()

#페이지 이동
driver.get('https://www.hsd.co.kr/menu/menu_list')
btn = driver.find_element(By.CLASS_NAME, 'c_05')

#더보기 실행
try :
    for i in range(30) :
        btn = driver.find_element(By.CLASS_NAME, 'c_05')
        btn.click()
        time.sleep(1) # 1초
except : 
    print("클릭을 완료하였습니다!")

# 한솥 도시락 페이지 메뉴
menu = driver.find_elements(By.CLASS_NAME,('h.fz_03'))

# 한솥 도시락 페이지 가격
price = driver.find_elements(By.CLASS_NAME, ('item-price'))

# 데이터 활용
# 순수한 메뉴, 가격을 list 에 담고 dictionary 만들기
# DataFrame -> csv  파일로 내보내기

클릭을 완료하였습니다!

In [ ]:
menu_list = []
price_list = []
rank_list = []

for i in range(len(menu)) :
    menu_list.append((menu[i].text))
    price_list.append((price[i].text))
    rank_list.append(i+1)

In [ ]:
dic = {"메뉴" : menu_list, "가격" : price_list, "순번" : rank_list}
han = pd.DataFrame(dic)
han.set_index('순번', inplace=True)
han

                    메뉴       가격
순번
1          사골 조랭이떡 만둣국   5,900원
2   한우 함박스테이크 & 반달 돈까스   8,900원
3     한우함박스테이크&토네이도소세지   8,900원
4                 해바라기  10,000원
5                   매화  10,500원
..                 ...      ...
90                  김치     400원
91             무말랭이 무침     500원
92                 한솥밥   1,000원
93                 현미밥   1,700원
94            리얼꿀 미니호떡   2,200원

[94 rows x 2 columns]

In [ ]:
han.to_csv('한솥도시락메뉴.csv')

In [ ]:
pd.read_csv('한솥도시락메뉴.csv')

    순번                  메뉴       가격
0    1         사골 조랭이떡 만둣국   5,900원
1    2  한우 함박스테이크 & 반달 돈까스   8,900원
2    3    한우함박스테이크&토네이도소세지   8,900원
3    4                해바라기  10,000원
4    5                  매화  10,500원
..  ..                 ...      ...
89  90                  김치     400원
90  91             무말랭이 무침     500원
91  92                 한솥밥   1,000원
92  93                 현미밥   1,700원
93  94            리얼꿀 미니호떡   2,200원

[94 rows x 3 columns]

In [18]:
# 네이버메인페이지에서 > 키워드검색 > 뉴스 탭 선택 > 뉴스 제목 수집

from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd

In [19]:
driver = wb.Chrome()

In [20]:
driver.get('https://www.naver.com/')

In [21]:
search = driver.find_element(By.ID, 'query')

In [22]:
search.send_keys('푸라닭')

In [23]:
search.send_keys(Keys.ENTER)

In [24]:
driver.find_elements(By.CSS_SELECTOR, 'div.api_flicking_wrap._conveyer_root > div')

[<selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_141")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_142")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_143")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_144")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_145")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_146")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_147")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_148")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_149")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_150")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_151")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb417114558704a4fe759f7e66282df", element="703F9636797B96937F47959C0FBEDB0D_element_153")>]